<h1 class="header-answer">Stupid coaching</h1>

<div class="ask-form">
  <p>Ask your coach anything:</p>

  <form action="/answer" method="get" class="question-form">
    <input id="form-input" type="text" name="question" placeholder="ask a question">
    <button type="submit" class="ask-button">Ask</button>
  </form>
</div>
